html
  head
    title='Sample App'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Yo HelloWorld!!!
        p
          a.btn.btn-primary(href="https://docs.microsoft.com/en-us/azure/aks/" target="_blank") Quick Start AKS

          a.btn.btn-outline-primary(href="https://www.docker.com/" target="_blank") The Docker Hub          
          
          a.btn.btn-primary(href="https://docs.microsoft.com/en-us/azure/container-instances/" target="_blank") The ACI 
        p
        p Sample Container App.

